<!DOCTYPE html>
<html>
  <head>
    <title>Coding Exam</title>
  </head>
  <body>
    <a href="/customers"><button>View Customer Address Information</button></a>
    <a href="/orders"><button>View Orders Information</button></a>
  </body>
</html>
``
